.App {
  background-color: #F6F6F6;
  
}

.content {

  padding-left: 160px;
  padding-right: 160px;

}

@media screen and (max-width: 1200px) {
  .App{
    padding-left: 0px;
  padding-right: 0px;
  }
}


